### DOCKER ENVIRONMENT SETTINGS ###

# User/Group IDs (run 'id -u' and 'id -g' to match your host user)
USER_UID=1000
USER_GID=1000

# Remote Sync (for bin/sync-geoserver-data.sh)
REMOTE_USER=user
REMOTE_HOST=archiraq.prod
REMOTE_BASE_PATH=/data/archiraq
SSH_KEY_PATH=~/.ssh/id_rsa

# Nginx
NGINX_PORT=8000

### DATABASE SETTINGS ###
POSTGRES_VERSION=15
POSTGIS_VERSION=3.6.1
POSTGRES_PORT=5432
POSTGRES_DB=archiraq
POSTGRES_USER=archiraq_admin
POSTGRES_PASSWORD=app
POSTGRES_DATA_DIR=/path/to/postgresql/data
# PostgreSQL socket path (used for DATABASE_URL)
# DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@%2Fvar%2Frun%2Fpostgresql/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=utf8

### GEOSERVER SETTINGS ###
GEOSERVER_PORT=8080
GEOSERVER_VERSION=2.25.0
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver

# Bound volumes for data (outside repo structure)
CORONA_DATA_DIR=/path/to/corona
SURVEY_DATA_DIR=/path/to/survey

### SYMFONY SETTINGS ###
APP_ENV=dev
APP_SECRET=cha1c300
JOB_OWNER=:archiraq
BING_API_KEY=insert_bing_api_key
GEOSERVER_BASE_URL=http://localhost:8000/geoserver/
GEOSERVER_GUEST_AUTH=guest:guest
PGBINDIR=/usr/lib/postgresql/10/bin/

### XDEBUG SETTINGS ###
XDEBUG_MODE=develop,debug
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
